{% extends 'base.html' %}

{% block content %}
    <!-- Page content-->
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Your Test Maturity Self Assessment Application</h1>
    <p class="lead">Reduce Cost, Reduce Time and Increase Product Quality</p>
    <hr class="my-4">
    <p>Learn how to implement modern test practices and calculate detailed costs associated with testing.</p>

    <!-- Line break -->
    <hr>


<!-- Card Sections -->
<section class="card-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Calculator</h5>
              <p class="card-text">Discover the currency cost associated with quality, and how maturing engineering practice can reduce the cost. Use this as a tool to demostrate value to your stakeholders</p>
              <a href="{% url 'baseline' %}" class="btn btn-secondary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Knowledge Articles</h5>
              <p class="card-text">Test Guides, best practices, advice and training material to support you to mature your Quality Engineer practice</p>
              <a href="{% url 'blog1' %}" class="btn btn-secondary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Test Automation Frameworks</h5>
              <p class="card-text">Discover more about test automation tooling and complete frameworks to automate your manual testing. Grab a coffee whilst your automation does the heavy lifting!</p>
              <a href="{% url 'blog2' %}" class="btn btn-secondary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
<div class="modal fade" id="sectionOneModal" tabindex="-1" aria-labelledby="sectionOneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sectionOneModalLabel">Detailed Content for Section One</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Insert detailed content here -->
          <p>This is where you can add more detailed information about Section One.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  

</div>


  
{% endblock %}